body{
    background-image: url("Seiten-Design/bg.png");
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: relative;
    height: 600px;
    background-color: rgb(117, 12, 12);
    border-radius: 50%;
    margin-top:-400px;
}

header div{
    position:relative;
    top: 450px;
}

header h1{
    color: white;
}

footer{
    position: relative;
    height:150px;
    background-color: rgb(117, 12, 12);
}

footer div{
    position: relative;
    top:50px;
}

footer p{
    color: white;
}

article{
    padding: 0px 0px;
    margin: 10px 2px;
    border-style: solid;
    border-color: rgb(206, 63, 63);
    border-radius: 25px;
    box-shadow: 0  3px 3px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.24);
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
article:hover{
    width: 800px;
    border-color: white;
    background-color: rgb(117, 12, 12);
    border-radius: 0px;
    
}

article:hover h3{
    color: white;
}

article:hover li{
    color: white;
}

main{
    min-height: 500px;
}

main div{
    text-align: left;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

.sticky{
    position: fixed;
    top: -5px;
    background-color: rgb(51, 11, 11);
    padding: 10px 5px;
    margin-left: 485px;
    box-shadow: 0  3px 3px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.24);
    border-radius: 5px;
    z-index: 1;
}

.sticky a{
    color: white;
    text-decoration: none;
    padding: 5px 12px;
}
.sticky a:hover{
    background-color: white;
    color: black;
}

.second img:hover{
    background-color: white;
    border-radius: 10px;
}

a.aktuell{
    color: rgb(117, 12, 12);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: rgb(37, 2, 2);
}
a:hover{
    color: rgb(37, 2, 2);
}

li{
    color: rgb(121, 11, 11);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
main p{
    color:rgb(121, 11, 11);
}

main h2{
    color: rgb(121, 11, 11);
}
main h3{
    color: rgb(121, 11, 11);
}
h4{
    color: rgb(121, 11, 11);
    margin-bottom: 10;
}

input{
    color: white;
    background-color: rgb(177, 169, 169);
    border-radius: 5px;
}

button{
    color: white;
    background-color: rgb(177, 169, 169);
    margin-top: 15px;
    margin-bottom: 15px;
}

select{
    color: white;
    background-color: rgb(177, 169, 169);
    margin-top: 15px;
    margin-bottom: 15px;
}

img{
    margin-top: 5px;
}

#Nachricht{
    width: 600px;
    height: 200px;
}

.Menschen{
    background-color: rgb(51, 11, 11);
    padding: 2px 5px;
    color: rgb(177, 169, 169);
}
.Menschen:hover{
    background-color: rgb(177, 169, 169);
    padding: 2px 5px;
    color: rgb(51, 11, 11);
}

footer a{
    padding: 5px;
    color: white;
    background-color: rgb(51, 11, 11);
}

footer a:hover{
    color: rgb(51, 11, 11);
    background-color: white;
}

footer h4{
    color: white;
}