.flex-container{
    display: flex;
    flex-flow: row wrap;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*1*/
.fixnav .aktiv{
    color: rgb(111, 112, 111);
}

/*alles im Header*/
header{
    position: relativ;
    margin-top: -50px;
    height: 200px;
    background-color: black;
    color: white;
    transition: all 2s ease-in-out 0s;
}

/*2*/
header:hover{
    background-color: red;
}

header h1{
    position: relative;
    top: 50px;
    font-size: 70px;
}

header h3{
    position: relative;
    top: 10px;
    font-size: 30px;
}

.fixnav{
    border-style: solid;
    border-width: 1px;
    position: fixed;
    top: -5px;
    right: -1px;
    background-color: rgb(90, 84, 84);
    border-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1;
    margin: 0px;
}

.fixnav a{
    padding: 10px 10px;
}
.fixnav a:hover{
    background-color: white;
    color: rgb(90, 84, 84);
}
header a{
    text-decoration: none;
    color:white;
    padding:10px;
    margin: 10px;
}
.fixnav a img{
    width: 20px;
}

.drop-inhalt {
    display: none;
    position: absolute;
    background-color: rgb(90, 84, 84);
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
  }
  
  .drop-inhalt a {
    float: none;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .drop-inhalt a:hover {
    background-color: white;
  }
  
  .drop:hover .drop-inhalt {
    display: block;
  }

  #imEinkaufswagen{
      width: 20px;
      height: 20px;
      background-color: black;
      color: white;
      position: fixed;
      border-radius: 100%;
      right: 25px;
      top: 16px;
      visibility: hidden;
  }

  #imEinkaufswagenII{
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
    position: fixed;
    border-radius: 100%;
    right: 25px;
    top: 16px;
    /*visibility: hidden;*/
  }

  .EinkaufswagenAnzeige{
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
    position: fixed;
    border-radius: 100%;
    right: 25px;
    top: 16px; 
  }

  /* Tabellenstyle kopiert von https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy*/
  #derEinkaufBeginne {
    border-collapse: collapse;
    width: 100%;
  }
  
  #derEinkaufBeginne td, #derEinkaufBeginne th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #derEinkaufBeginne tr:nth-child(even){background-color: #f2f2f2;}
  
  #derEinkaufBeginne tr:hover {background-color: #ddd;}
  
  #derEinkaufBeginne th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
  }
/* _______________________________________________________________________________________________*/
  .einkaufBild{
      width: 40%;
      margin: 0px;
  }

  .einkaufBildRahmen{
      width: 35%;
  }
/*alles im main*/
main{
    min-height: 600px;
}

main div{
    display: inline-block;
    width: 95%;
    border-style: solid;
    margin-right: auto;
    margin-left:auto;
    transition: all 2s ease-in-out 0s;
}

/*3*/
main div:nth-child(1n):hover{
    border-color: red;
}

.secnav{
    text-decoration: none;
    color: white;
}
.secnav ul li{
    margin: 25px;
}

.secnav ul{
    list-style: none;
    padding-left: 0px;
}

.secnav a{
    border-style: solid;
    padding: 10px 25%;
    border-color: white;
    border-radius: 1px;
    border-width: 1px;
    color: white;
    text-decoration: none;
    background-color: rgb(90, 84, 84);
}

.secnav a:hover{
    background-color: white;
    color: rgb(90, 84, 84);
}

aside{
    margin-top: 2%;
    margin-bottom: 2%; 
}

article{
    margin-top: 2%;
    margin-bottom: 2%;
}

.ag{
    
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: min-content;
}

/*4*/
.ag>img{
    float: left;
    width: 95%;
    margin: 5px;
    
}
.ag button{
    float: none;
    background-color: rgb(24, 185, 19);
    padding:10px 5px;
    color: white;
    border-radius: 5px;
    border-color: rgb(24, 185, 19);
    font-size: large;
    margin-bottom: 5px;
}

.ag button:hover{
    background-color: white;
    color:rgb(24, 185, 19);
}

.ag ul{
    list-style: none;
    padding: 0px 0px 0px 0px;
}

#begrüßungstext{
    margin: auto;
    width: 60;
}

img[alt="Bild des Besitzers"]{
    width: 400px;
}

#gekauft{
    float: none;
    background-color: rgb(10, 95, 7);
    padding:20px 10px;
    color: white;
    border-radius: 5px;
    border-color: rgb(10, 95, 7);
    font-size: large;
    margin-bottom: 5px;
}

#gekauft:hover{
    background-color: white;
    color:rgb(10, 95, 7);
}

.secnav .saktiv{
    color: rgb(111, 112, 111);
    border-color: rgb(111, 112, 111);
}

/*5*/
ul+p{
    color: red;
    font-size: large;
}

/*alles im footer*/
footer{
    clear: both;
    position: relative;
    height:150px;
    background-color: black;
    color: white;
    margin-bottom: -5px;
}
footer nav a{
    position: relative;
    margin: 10px;
    top: 50px;
    padding: 5px 10px;
    text-decoration: none;
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color:white;
    border-radius: 2px;
}

footer nav a:hover{
    background-color: black;
    color:white;
}

/*6*/
div h2{
    color: rgb(90, 84, 84);
    display: none;
}

/*alles größer als 600px*/
@media only screen and (min-width:600px){
    article{
        float: right;
        width: 68%;
    }

    aside{
        background-color: rgb(90, 84, 84);
        height: 100%;
        float: left;
        width: 32%;
    }

    .ag>img{
        width: 95%;
    }

    main div{
        display: block;
        height: fit-content;
        width: 90%;
        margin-right: auto;
        margin-left:auto;
        text-align: center;
    }

    .secnav a{
        padding: 5px 5%;
    }
    .secnav li{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #begrüßungstext>img{
        width: 80%;
    }
    .ag{
        width: 45%;
    }
}

/*alles größer als 1024px*/
@media only screen and (min-width:1024px){
    main{
        min-height: 1000px;
    }

    article{
        float: right;
        width: 80%;
    }
    aside{
        float: left;
        width: 20%;
    }

    .ag{
        width: 30%;
    }
    .ag>img{
        width: 95%;
    }
    #begrüßungstext>img{
        width: 700px;
    }
}

@media only screen and (max-width:381px){
    header h1{
        font-size: 50px;
    }

    header h3{
        font-size: 20px;
    }
    .secnav a{
        padding: 10px 10%;
    }
}